:root {
    --cor-primaria-do-site-- : #26201a;
    --cor-da-letra-- : #ffffff;
    --cor-item-selecionado-- : #ffb049;
}


body{
    font-family: Arial, Helvetica, sans-serif; /*fonte padrão*/
  background: linear-gradient(135deg,#8e7758 ,#26201a 50%);
}

.corDoHeader{
    background: var(--cor-primaria-do-site--);  /*modifica a cor do header*/
    border-left:white;
}

.navbar-toggler-icon { /*trocar a cor do menu do header*/
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.navbar{
    border-bottom:2px solid white;
}

.navbar-toggler:focus {
    outline: none;
    border: 2px solid rgb(255, 255, 255); /* borda foco do header */
    border-radius: 5px; /* arredonda os cantos */
    box-shadow: none;
}

.nav-link {
    color: var(--cor-da-letra--);
}

.nav-link:hover{
    color: var(--cor-item-selecionado--);
}

.linkHeaderSelecionado{
    color: var(--cor-item-selecionado--);
    text-decoration: none;
}


.textoHome{
    display: flex;
    justify-content: center;
    margin-top:4vw;
    margin-bottom: 4vw;
    color: var(--cor-da-letra--);
}

.btn-custom{
    display: flex;
    justify-content: center;
    background-color: var(--cor-primaria-do-site--);
    border: none;
}


.card-body h5{
    display: flex;
    height: 20vw;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card {
    margin-bottom: 10%;
}

.contatos{
    margin-top: 7vw;
    border: 2px solid rgba(255, 255, 255, 0.355);
    border-radius: 2vw;
    padding: 10vw;
    background: var(--cor-primaria-do-site--);
}

.textContato{
    color: white;
}

.botaoContato{
    width: 100%;
    border: none;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 600;
    background-color: rgb(103, 1, 1);
}

.textFooter{
    color: rgb(255, 255, 255);
}

.footerDec{
    margin-top: 30%;
}